:root {
  --main-2: #ebebeb;
  --accent: #412234;
  --accent-hover: #6d466b;
  --color: #b49fcc;
  --main: #fff;
}

/* CONSTANTS */
.card {
  flex-wrap: wrap;
  padding: 10px;
  background-color: var(--main-2);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  display: flex;}
.formBox {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;}
.formBox form {
  width: 60%;
  display: grid;
  gap: 10px;}
.formBox form input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;}
.formBox form input[type="submit"] {
  background-color: var(--accent);
  color: var(--main);
  font-size: 1.2em;
  font-weight: bold;}
.cancelButton {
  width: 50px;
  height: 50px;
  background-color: var(--accent);
  border-radius: 50% !important;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;}
.button:hover {
  background-color: var(--accent-hover) !important;}
.backButton {
  height: 50px;
  background-color: var(--accent);
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 0.8rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  z-index: 100;
  width: 50px;}
.backButton i {
  font-size: 1.5em;
  color: var(--main);}

/* MAIN STYLE */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: var(--color);
  border: none;
  outline: none;
  font-family: "Verdana";
  scrollbar-width: none;
  box-sizing: border-box;}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: 12px;
  color: var(--accent);
  width: 100vw;}
.container {
  height: 100%;
  background-color: var(--main-2);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  grid-template-rows: auto auto auto auto auto auto;
  width: 50%;}
.container a, .container button {
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-wrap: wrap;
  display: flex;}
.container a i {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;}
.container a h1 {
  font-size: 1.2em;}
.container a:hover, .container button:hover {
  background-color: var(--accent);}
.container a:hover i, .container a:hover h1 {
  color: var(--main);}

/* CALCULATOR STYLE */
#display {
  height: 20%;
  background-color: var(--main);
  border-radius: 10px;
  width: 100%;
  font-size: 2.5rem;
  overflow-x: scroll;
  padding: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);}
#button {
  height: 80%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  width: 100%;
  gap: 5px;
  padding-top: 10px;}
#button button {
  border-radius: 10px;
  font-weight: bold;
  font-size: 2em;
  background-color: var(--accent);}

/* TIMER STYLE */
#timer {
  width: 100%;
  height: 60%;
  display: flex;
  gap: 10px;}
#timer input {
  font-size: 3rem;
  width: 33.33%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  text-align: center;}
#control {
  width: 100%;
  height: 40%;
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 10px;
  gap: 10px;}
#control button {
  background-color: var(--accent);
  border-radius: 10px;
  font-size: 1.5em;}
#setTimer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;}
#setTimer button {
  background-color: var(--accent);
  border-radius: 10px;
  font-size: 1.2em;}

/* TO DO LIST STYLE */
#taskBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;}
#taskBox .tasks {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;}
#taskBox .tasks span {
  width: 85%;
  font-size: 1.5em;
  color: var(--accent);
  overflow-y: scroll;}
.actionButton {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center ;
  height: 100%;
  border-radius: 10px;
  background-color: var(--accent);
  font-size: 0.8rem;}
#addTask {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: var(--accent);}
.done {
    text-decoration: line-through;
    opacity: 0.5;}
#counter {
  font-size: 5em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;}

/* RANDOMIZER STYLE  */
#randomizer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;}
#randomizer button {
  width: 100%;
  height: 10%;
  background-color: var(--accent);
  border-radius: 10px;}
#itemsInput {
  width: 100%;
  height: 10%;
  display: flex;}
#itemsInput input {
  width: 80%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;}
#itemsInput button {
  width: 20%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--accent);}
.sect {
  width: 50%;
  height: 80%;
  background-color: var(--main);
  border-radius: 10px;
  outline: 2px solid var(--main-2);
  display: flex;
  flex-direction: column;
  gap: 5px;}
.sect span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  border-radius: 10px;
  font-size: 1.5em;}

/* TIC-TAC-TOE STYLE */
#gameContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 5px;}
#gameWindow {
  opacity: 0.4;}
.gameBox {
  width: 100%;
  height: 100%;
  background-color: var(--main);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;}
.gameBox span {
  position: absolute;
  font-size: 2rem;}
#controlTTT {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;}
#controlTTT .tttgame  {
  width: 100%;
  height: 50%;
  background-color: var(--accent);
  border-radius: 5px;}