:root {
    --main : #fff;
    --main-2 : #ebebeb;
    --accent : #412234;
    --accent-hover : #6d466b;
    --color : #b49fcc;
}


/* MAIN STYLE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: var(--color);
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 12px;
    color: var(--accent);
}
.container {
    width: 50%;
    height: 100%;
    background-color: var(--main-2);
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    grid-template-rows: auto auto auto auto auto auto;
}
.container a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 10px;
}
.container a:hover {
    background-color: var(--accent);
}
.container a:hover i {
    color: var(--main);
}
#backButton {
    width: 30px;
    height: 30px;
    background-color: var(--accent);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 0.8rem;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}
#backButton i {
    color: var(--main);
}
#backButton:hover {
    background-color: var(--accent-hover);
}


/* CALCULATOR STYLE */
#calcCard {
    width: 40%;
    height: 100%;
    background-color: var(--main-2);
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
#display {
    width: 100%;
    height: 20%;
    background-color: var(--main);
    border-radius: 10px;
}
#button {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    padding: 10px;
}
#button button {
    background-color: var(--main-2);
    font-weight: bold;
}
#button button:hover {
    background-color: var(--accent);
    color: var(--main);
} 