:root {
  --main-2: #ebebeb;
  --accent: #412234;
  --accent-hover: #6d466b;
  --color: #b49fcc;
  --main: #fff;
}

/* MAIN STYLE */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: var(--color);
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  font-family: "Verdana";
  scrollbar-width: none;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: 12px;
  color: var(--accent);
  width: 100vw;
}
.container {
  height: 100%;
  background-color: var(--main-2);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
  grid-template-rows: auto auto auto auto auto auto;
  width: 50%;
}
.container a {
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-wrap: wrap;
  display: flex;
}
.container a i {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}
.container a h1 {
  font-size: 1.2em;
}
.container a:hover {
  background-color: var(--accent);
}
.container a:hover i {
  color: var(--main);
}
.container a:hover h1 {
  color: var(--main);
}
#backButton {
  height: 50px;
  background-color: var(--accent);
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 0.8rem;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  width: 50px;
}
#backButton i {
  font-size: 1.5em;
  color: var(--main);
}
#backButton:hover {
  background-color: var(--accent-hover);
}

/* CALCULATOR STYLE */
#calcCard {
  flex-wrap: wrap;
  padding: 10px;
  height: 100%;
  background-color: var(--main-2);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  width: 35%;
}
#display {
  height: 20%;
  background-color: var(--main);
  border-radius: 10px;
  width: 100%;
  font-size: 2.5rem;
  overflow-x: scroll;
  padding: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}
#button {
  height: 80%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  width: 100%;
  gap: 5px;
  padding-top: 10px;
}
#button button {
  border-radius: 10px;
  font-weight: bold;
  background-color: var(--main-2);
  font-size: 2em;
  background-color: var(--accent);
}
#button button:hover {
  background: var(--accent-hover);
  color: var(--main);
}

/* TIMER STYLE */
#timerCard {
  flex-wrap: wrap;
  padding: 10px;
  height: 40%;
  background-color: var(--main-2);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  width: 60%;
}
#timer {
  width: 100%;
  height: 60%;
  display: flex;
  gap: 10px;
}
#timer input {
  font-size: 3rem;
  width: 33.33%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  text-align: center;
}
#control {
  width: 100%;
  height: 40%;
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 10px;
  gap: 10px;
}
#control button {
  background-color: var(--accent);
  border-radius: 10px;
  font-size: 1.5em;
}
#control button:hover {
  background-color: var(--accent-hover);
}
